.pagination {
  &__block {
    align-items: center;
    display: flex;
  }

  &__item {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: #4285f4;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    width: 20px;

    &:hover {
      text-decoration: underline;
    }

    &.active {
      color: #202124;
      text-decoration: none;
    }

    &.prev {
      margin-right: 30px;
      width: auto;
    }

    &.next {
      margin-left: 40px;
      width: auto;
    }
  }
}