.not-found {
  &__page {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding-bottom: 20%;
  }

  &__row {
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 650px;
    width: 100%;
  }

  &__content {
    color: #777;
    font-size: 15px;
    padding-right: 50px;
  }

  &__logo {
    margin-bottom: 20px;
  }

  &__text {
    .error {
      margin-bottom: 20px;

      strong {
        color: #222;
      }
    }

    .info {
      color: #222;

      span {
        color: #777;
      }
    }
  }

  &__image {
    img {
      display: block;
      height: auto;
      max-width: 100%;
    }
  }
}