.home {
  &__page {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding-bottom: 20vh;
  }

  &__logo {
    margin-bottom: 30px;
  }

  &__search {
    max-width: 584px;
    width: 100%;
  }
}