@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

.logo {
  font: {
    family: 'Josefin Sans', 'Arial', sans-serif;
    size: 90px;
    weight: 500;
  }
  height: 70px;
  line-height: 90px;
  text-decoration: none;
  transition: .5s;

  @media (max-width: 500px){
    height: 50px;
    font-size: 50px;
    line-height: 50px;
  }

  &.small {
    height: 30px;
    font-size: 30px;
    line-height: 30px;
  }

  &.medium {
    height: 50px;
    font-size: 50px;
    line-height: 50px;
  }
  
  .blue {
    color: #4285f4;
  }
  
  .green {
    color: #34a853;
  }
  
  .red {
    color: #ea4335;
  }
  
  .yellow {
    color: #fbbc05;
  }
}