.search {
  &__header {
    border-bottom: 1px solid #ebebeb;
    padding: 25px 25px 25px 230px;
    position: relative;
  }

  &__logo {
    margin-left: -150px;
    position: absolute;
    top: 36px;
    width: auto;
  }

  &__search-wrapper {
    max-width: 650px;
  }

  &__content {
    margin-left: 230px;
    max-width: 650px;
    padding: 10px 40px 40px;
  }

  &__info {
    color: #70757a;
    margin-bottom: 20px;
  }

  &__no-results {
    color: #202124;
    font-size: 16px;

    .no-results__img {
      margin-top: 50px;
    }
  }
}