@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&display=swap');


// CLEAN STYLE

* {box-sizing: border-box;}

body {
  background: #fff;
  color: #4d5156;
  font: 400 14px/22px 'Josefin Sans', 'Arial', sans-serif;
  margin: 0;
}